* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body h1 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 50px;
}

body p {
    text-align: center;
    padding-bottom: 50px;
}

.btn {
    display: flex;
    margin: 8px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background: rgb(181, 148, 196);
    outline: none;
}

.btn:hover {
    background-color: purple;
}

.btnCorrect {
    background-color: green;
}

.btnIncorrect {
    background-color: red;
}

#countdown {
    position: relative;
    top: -16px;
    right: -700px;
}